<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Scrapper</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
 <h1>Search Results : "{{keyword}}" </h1>
 <table>
     <thead>
        <tr>
            <th>link</th>
        </tr>
     </thead>

     <tbody>
        {% for job in jobs %}
        <tr>
            <td> {{job.link}}</td>
        </tr>
        {% endfor %}
     </tbody>
 </table>

</body>
</html>